[Unit]
Description=Service for managing backups of B2 instances.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/php -S 0.0.0.0:8000 -t /root/host-backups/ /root/aru/tapu-backups/listener.php >> host-backups-listener.log 2>&1
WorkingDirectory=/root/aru/tapu-backups
Restart=always
SyslogIdentifier=host-backups-listener

[Install]
WantedBy=multi-user.target
